.chat-screen__header {
  display: flex;
  flex-direction: column;
  height: 11.83%;
  background-color: #f6f6f6;
  border-bottom: 0.5px solid lightgrey;
}

.chat-screen__systemInfo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 5.3%;
}

.chat-screen__systemInfo > * {
  font-size: small;
  font-weight: bold;
  margin-top: 0;
}

.chat-screen__time {
  display: flex;
  justify-content: flex-start;
  flex: 1;
}

.chat-screen__profileInfo {
  display: flex;
  justify-content: space-between;
  gap: 0.15rem;
  align-items: center;
  padding: 0 5.3%;
}

.chat-screen__nameAndStatus {
  flex-grow: 1;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.chat-screen__nameAndStatus > * {
  margin: 0;
}

.chat-screen__name {
  font-size: small;
  font-weight: bold;
}

.chat-screen__status {
  font-size: x-small;
  color: #8e8e93;
}
.chat-screen__icon {
  color: #007aff;
}

.chat-screen__profilePic {
  height: 1.8rem;
  width: 1.8rem;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 0.1rem;
}
